RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]

# Redirecionar para pasta public
RewriteCond %{THE_REQUEST} /([^/]+)?/?public/([^\s?]*) [NC]
RewriteRule ^ /%1/%2 [R=301,L]